{% extends '@App/base.html.twig' %}

{% block title %}
    Page {{ id }}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>One page {{ id }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
